<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>foundpw</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="text-center">
    <div class="d-flex justify-content-between align-items-center" id="header" style="height: 50px;text-align: center;background: rgb(92, 198, 186);"><i class="fa fa-chevron-left" style="width: 30px;height: 30px;font-size: 24px;color: rgb(255,255,255);"></i><label class="form-label" style="color: rgb(255,255,255);font-size: 24px;">비밀번호 찾기</label><i class="fa fa-ellipsis-v" style="width: 30px;height: 30px;font-size: 24px;color: rgb(255,255,255);"></i></div>
    <div class="text-center d-flex flex-column align-items-center"><label class="form-label text-center">존재하지 않는 아이디입니다.<br></label>
        <div class="d-flex flex-row justify-content-between" style="width: 80%;max-width: 300px;"><button class="btn btn-primary" type="button" style="background: rgb(92, 198, 186);">아이디 찾기</button><button class="btn btn-primary" type="button" style="background: rgb(92, 198, 186);">회원가입하러 가기</button></div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>